<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	id="WebApp_ID" version="4.0">
	<display-name>WebIDE</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <servlet>
		<servlet-name>OpenApi</servlet-name>
		<servlet-class>io.swagger.v3.jaxrs2.integration.OpenApiServlet</servlet-class>

		<init-param>
			<param-name>openApi.configuration.resourcePackages</param-name>
			<param-value>io.swagger.sample.resource</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>OpenApi</servlet-name>
		<url-pattern>/openapi/*</url-pattern>
	</servlet-mapping> -->
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/installer/*</url-pattern>
			<url-pattern>/pages/*</url-pattern>
			<url-pattern>/webide/*</url-pattern>
			<url-pattern>/rest/*</url-pattern>
			<url-pattern>/odata/*</url-pattern>
			<url-pattern>/servlets/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>PUBLIC</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>PUBLIC</role-name>
	</security-role>
</web-app>


